.headingtext{
    text-align: center;
    padding-top: 40vh;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #head{
    background-image: url(/image/dark.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    
  }
  a {
    color: #ffffff;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0e0214;
    text-decoration: none;
    transition: all 0.5s ease-in-out;}
    .color-a {
      color:white;
    }
    
    #mainNav
    {
    text-align: center;
    color: aliceblue;
  }
  .navbar-brand{
    color: white;
    font-weight:bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
    
  }
  .navbar-brand:hover{
    color:#67dcff7c;
  }
  #navbarDefault{
    color: #4e4e4e;
  }
  
    .navbar-nav li a
    {
      color: aliceblue;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
    }
    .navbar-nav li a:hover{
      color: #1e1e1e;
    }
    #feature{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .navbar-toggler:hover{
      color:white;
      background-color: #fdfdfd;
    color: black;
    }
   .nav-link{
     color:black;
  
   }
   .nav-link:hover
   {
    
     background-color: #e7fffd;
     color: black;
    transition: all 0.7s; 
    
      width:100%;
      height:100%;
     
   }
   #footer1{
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       color: white;

   }
   #footer1:hover{
       color:#4e4e4e;

   }
   .post-entry-1-contents h2{
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       color: #0e0214;
   }
   .post-entry-1-contents h2:hover{
       color:#4e4e4e;
    
   }
   .more{
       color:blueviolet;
   }
   .col-lg-6 text-center p {
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   .col-12 a{
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       color: black;

   }
   .col-12{
       padding-block-end: 10%;
   }
   .input-group mb-3 a{
       color: #0e0214;
   }

   .site-footer{
       background-color: #292b2c;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       color: white;
   }
#confoot{
    padding-block-start: 5%;
}
.list-unstyled a{
    color: white;
}
.site-section {
  padding-block-start: 1%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
#searchbox
{
  margin-block-start:90px;
}