<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>SWE-SOCIETY,SUST</title>

    <!-- Main Stylesheet File -->
    <link href="/public/about/style.css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- for vertical tabs-->
  </head>

      <nav
        class="navbar navbar-expand-md fixed-top bg-dark navbar-default" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="home">
            <img src="/public/image/logo1.png" width="100px" />
          </a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarDefault"
            aria-controls="navbarDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fa fa-bars" style="color: blanchedalmond;"></span>
          </button>
          
          <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav" id="nav1">
              <li class="nav-item ">
                <a class="nav-link" id="navlinkhover" href="home">HOME</a>
              </li>

              <li class="nav-item ">
                <a class="nav-link" id="navlinkhover" href="blog">BLOG</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="navlinkhover" href="feeds">FEEDS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " id="navlinkhover" href="batch">BATCH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " id="navlinkhover" href="committe">COMMITTEES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navlinkhover" href="about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navlinkhover" href="login">LOGIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
