<%- include ('partials/nav.ejs') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SWE-SOCIETY,SUST</title>

    <!-- Main Stylesheet File -->
    <link href="/public/committies/style.css" rel="stylesheet">

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- for vertical tabs-->
   


</head>

<body>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
            
            <!--vertical tabs-->


            <section id="tabs">
                <div class="container">
                  
                  <div class="row">
                    <div class="col-md-12 ">
                      <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Present Committee</a>
                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">All Committees</a>
                          
                        </div>
                      </nav>
                      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          
  
      
                          <div class="container">
                          <div class="row">
                          
                          <!--team-1-->
                          <div class="col-lg-4">
                          <div class="our-team-main">
                          
                          <div class="team-front">
                          <img src="/public/faculty/faculty pic/demo.png" class="img-fluid" />
                          <h3>Name</h3>
                          <p>General Secretary</p>
                          </div>
                          
                          <div class="team-back">
                          <span>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque penatibus et magnis dis parturient montes,
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque.
                          </span>
                          </div>
                          
                          </div>
                          </div>
                          <!--team-1-->
                          
                          <!--team-2-->
                          <div class="col-lg-4">
                          <div class="our-team-main">
                          
                          <div class="team-front">
                          <img src="/public/faculty/faculty pic/demo.png" class="img-fluid" />
                          <h3>Name</h3>
                          <p>General Secretary</p>
                          </div>
                          
                          <div class="team-back">
                          <span>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque penatibus et magnis dis parturient montes,
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque.
                          </span>
                          </div>
                          
                          </div>
                          </div>
                          <!--team-2-->
                          
                          <!--team-3-->
                          <div class="col-lg-4">
                          <div class="our-team-main">
                          
                          <div class="team-front">
                          <img src="/public/faculty/faculty pic/demo.png" class="img-fluid" />
                          <h3>General</h3>
                          <p>Secretary</p>
                          </div>
                          
                          <div class="team-back">
                          <span>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque penatibus et magnis dis parturient montes,
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque.
                          </span>
                          </div>
                          
                          </div>
                          </div>
                          <!--team-3-->
                          
                          <!--team-4-->
                          <div class="col-lg-4">
                          <div class="our-team-main">
                          
                          <div class="team-front">
                          <img src="/public/faculty/faculty pic/demo.png" class="img-fluid" />
                          <h3>Name</h3>
                          <p>General Secretary</p>
                          </div>
                          
                          <div class="team-back">
                          <span>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque penatibus et magnis dis parturient montes,
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque.
                          </span>
                          </div>
                          
                          </div>
                          </div>
                          <!--team-4-->
                          
                          <!--team-5-->
                          <div class="col-lg-4">
                          <div class="our-team-main">
                          
                          <div class="team-front">
                          <img src="/public/faculty/faculty pic/demo.png" class="img-fluid" />
                          <h3>name</h3>
                          <p>gsr</p>
                          </div>
                          
                          <div class="team-back">
                          <span>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque penatibus et magnis dis parturient montes,
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque.
                          </span>
                          </div>
                          
                          </div>
                          </div>
                          <!--team-5-->
                          
                          <!--team-6-->
                          <div class="col-lg-4">
                          <div class="our-team-main">
                          
                          <div class="team-front">
                          <img src="/public/faculty/faculty pic/demo.png" class="img-fluid" />
                          <h3>Name</h3>
                          <p>General Secretary</p>
                          </div>
                          
                          <div class="team-back">
                          <span>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque penatibus et magnis dis parturient montes,
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                          natoque.
                          </span>
                          </div>
                          
                          </div>
                          </div>
                          <!--team-6-->
                          
                          
                          
                          </div>
                          </div>
                        </div>






                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="ione">   
                                <div class="row justify-content-center align-self-center">
                                       <h5>2nd Committee</h5>
                                       </div>
                             
                                 
                            <iframe src="allCommittee" style="height:300px ; width: 100%;"></iframe>
                        </div> 
                            
                            <div class="row justify-content-center align-self-center">
                                    <h5>1st Committee</h5>
                                   </div>
                            <iframe src="allCommittee" style="height:300px ; width:100%;"></iframe>
                            
                          

                       
                       
                        </div>






                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniasddddddddddddddddddddddddddddddm. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                        </div>





                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <div class="col-md-12">
                            <h3>Email: abcd@yahoo.com </h3>
                            <h3>Phone number:0144444444444</h3>
                        </div>
                        
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </section>
              <!-- ./Tabs -->
  
                      </header>
                      
                      <%- include ('partials/footer.ejs') %>
</body>
</html>