<%- include ('partials/nav.ejs') %>


<link href="public/feeds/style.css" rel="stylesheet">


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <header id="head">

        <div class="ftco-blocks-cover-1">
            <div class="ftco-cover-1 overlay" >
                <div class="container">
                    
                    <div class="input-group mb-3"  id="searchbox">
                        <input type="text" class="form-control  text-balck bg-transparent" id="Search"  placeholder="Search Feeds" title="Type in a name">
                        <div class="input-group-append">
                            <button class="btn btn-dark text-white" type="button" id="button-addon2">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section bg-light">
            <div class="container">
                <div class="row align-items-stretch">
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="post-entry-1 h-100">
                            <a href="details">
                                <img src="public/image/post_1.jpg" alt="Image" class="img-fluid">
                            </a>
                            <div class="post-entry-1-contents">
                                
                                <a href="details">
                                    <h2>4 latest technology for future generation</h2>
                                </a>
                                <a href="details" class="more">Read More ||<br></a>
                                <a href="profile" class="more">Fahim iftekhar   </a> 
                                <span class="meta">, July 17, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="post-entry-1 h-100">
                            <a href="#">
                                <img src="public/image/post_2.jpg" alt="Image" class="img-fluid">
                            </a>
                            <div class="post-entry-1-contents">
                                
                                    <a href="#">
                                        <h2>4 latest technology for future generation</h2>
                                    </a>
                                    <a href="#" class="more">Read More ||<br></a>
                                    <a href="./profile.html" class="more">Fahim iftekhar   </a> 
                                    <span class="meta">, July 17, 2019</span>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="post-entry-1 h-100">
                            <a href="#">
                                <img src="public/image/post_5.jpg" alt="Image" class="img-fluid">
                            </a>
                            <div class="post-entry-1-contents">
                                
                                    <a href="#">
                                        <h2>4 latest technology for future generation</h2>
                                    </a>
                                    <a href="#" class="more">Read More ||<br></a>
                                    <a href="./profile.html" class="more">Fahim iftekhar   </a> 
                                    <span class="meta">, July 17, 2019</span>
                                </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="post-entry-1 h-100">
                            <a href="#">
                                <img src="public/image/post_5.jpg" alt="Image" class="img-fluid">
                            </a>
                            <div class="post-entry-1-contents">
                                
                                    <a href="#">
                                        <h2>4 latest technology for future generation</h2>
                                    </a>
                                    <a href="#" class="more">Read More ||<br></a>
                                    <a href="./profile.html" class="more">Fahim iftekhar   </a> 
                                    <span class="meta">, July 17, 2019</span>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="post-entry-1 h-100">
                            <a href="#">
                                <img src="public/image/post_2.jpg" alt="Image" class="img-fluid">
                            </a>
                            <div class="post-entry-1-contents">
                                
                                    <a href="#">
                                        <h2>4 latest technology for future generation</h2>
                                    </a>
                                    <a href="#" class="more">Read More ||<br></a>
                                    <a href="./profile.html" class="more">Fahim iftekhar   </a> 
                                    <span class="meta">, July 17, 2019</span>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="post-entry-1 h-100">
                            <a href="#">
                                <img src="public/image/post_4.jpg" alt="Image" class="img-fluid">
                            </a>
                            <div class="post-entry-1-contents">
                                
                                    <a href="#">
                                        <h2>4 latest technology for future generation</h2>
                                    </a>
                                    <a href="#" class="more">Read More ||<br></a>
                                    <a href="./profile.html" class="more">Fahim iftekhar   </a> 
                                    <span class="meta">, July 17, 2019</span>
                                </div>
                        </div>
                    </div>
                    

                    <div class="col-12">
                        <span class="p-3">1</span>
                        <a href="#" class="p-3">2</a>
                        <a href="#" class="p-3">3</a>
                        <a href="#" class="p-3">4</a>
                    </div>
                </div>
            </div>
        </div>



        <%- include ('partials/footer.ejs') %>

